
#carro{
    width: 100%;
}
#testimg{
    width: 100%;
    height: 500px;
}
/*Listar Produtos*/
.pro{
    background-color: red;
    border-style: solid;
}
.bloco-principal{
    text-align: center;
}
.blo2{
    width: 100%;
    display: flex;
    justify-content: center;
}
.card{
    width: 250px;
    height: 550px;
    border-radius: 5%;
    text-align: center;
    padding-bottom: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    background-color: red;
    border-style: solid;
    border-color: black;
}
.listaimg{
    width: 250px;
    height: 400px;
}
.bloco-produtos{
    width: 75%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  align-items: center;
    
}
