body{
background-color: gray;
    margin: 0%;
}
/*Cabeçario*/
.titulo{
    text-align: center;
    width: 150px;
    height: 30px;
    border-radius: 50%;
    border: rgb(255, 255, 255) 2px solid;
    margin-left: 5%;
    margin-top: 0%;
    color: rgb(255, 255, 255);
}
.cabe{
    display: flex;
    padding-left: 2%;
    padding-top: 1%;
    padding-bottom: 0%;
    border: 10px;
    border-style: solid;
    border-color: cyan;
    background-color: rgb(0, 0, 0);
}
.cabeimg{
    padding-top: 15%;
    width: 90px;
    height: 40px;
}
.pag{
    text-align: center;
}

a:link{
  text-decoration: none;
}
a:hover {
    color: #000000;
    text-decoration: underline; 
  }
.tag{
    width: 75px;
    text-align: center;
    margin-top: 0%;
    margin-left: 50%;
    border-style: solid;
    border-radius: 50%;
    border-color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    padding: 5px 40px;
}
.tese{
    margin-top: 1%;
    margin-bottom: 1%;
    display: flex;
}
.teste1{
margin-left: 20%;
}
.teste2, .teste3, .teste4{
    margin-left: 20%;
}
/*Listar Produtos*/
.carrotodo{
    display: flex;
    justify-content: center;
}
.carroce{ 
    width: 75%;
}
.pro{
    text-align: center;
    margin-top: 0%;
    background-color: red;
    border-style: solid;
}
.bloco-principal{
    text-align: center;
}
.blo2{
    width: 75%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.card{
    width: 250px;
    height: 630px;
    border-radius: 5%;
    text-align: center;
    padding-bottom: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    background-color: cyan;
    border-style: solid;
    border-color: black;
}
.listaimg{
    width: 250px;
    height: 400px;
}
.bloco-produtos{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  align-items: center;
}
.adicionar{
    background-color: rgb(255, 255, 255);
    border: rgb(0, 0, 0) 2px solid;
    border-radius: 30%;
    padding: 5px;
}
.camin{
    color: transparent;
    width: 100%;
}
/*Rodapé*/
footer{
    height: 20%;
    margin-right: 0%;
    margin-left: 0%;
    margin-top: 0%;
    margin-bottom: 0%;
    background-color: rgb(0, 0, 0);
    border: cyan 15px solid;
}
.compartilhar{
    margin-top: 5%;
    margin-left: 70%;
}
.pala{
    margin-left: 1%;
    color:white;
}
.roda{
    width: 40px;
}
.compar{
    margin-top: 1%;
    margin-left: 5%;
}
.compart{
    margin-top: 1%;
    margin-left: 1%;
}
.footer{
    margin-right: 0%;
    display: flex;
}
